# xrlint
/xrlint_config.*
/notebooks/xrlint_config.*

# Logs
*.log

# Artifacts
dist
build
.pytest_cache
__pycache__
*.egg-info
.coverage
coverage.xml
htmlcov/
site/

# Jupyter
.ipynb_checkpoints
notebooks/*.zarr/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.idea/
