# Logs
*.log

# Artifacts
dist
build
.pytest_cache
__pycache__
*.egg-info
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.idea/
